@use '../Globals';

@mixin init-table($base-font-size) {
  .dark {
    .mission-tracker {
      .rounds-container {
        .round {
          background-color: white;
        }
      }
      .mission {
        background-color: Globals.$mission-gray;
      }
      .mission.true {
        background-color: Globals.$res-dark;
      }
      .mission.false {
        background-color: Globals.$spy-dark;
      }
    }
    .table-info {
      background-color: Globals.$gray-3;
      margin-bottom: 0.05em;
      .message {
        color: white;
      }
      .cancel {
        border: $base-font-size * 0.05 solid Globals.$spy-dark;
        background-color: #ffd3cf;
        p {
          color: Globals.$spy-light;
        }
      }
      .kick {
        background-color: Globals.$spy-dark;
        p {
          color: white;
        }
      }
    }
    .table-buttons {
      button {
        background-color: Globals.$gray-1;
      }
    }
  }
  .light {
    .mission-tracker {
      .rounds-container {
        .round {
          background-color: Globals.$gray-1;
        }
      }
      .mission {
        background-color: Globals.$mission-gray;
      }
      .mission.true {
        background-color: Globals.$res-light;
      }
      .mission.false {
        background-color: Globals.$spy-light;
      }
    }
    .table-info {
      background-color: Globals.$light-2;
      .message {
        color: Globals.$gray-1;
      }
      .cancel {
        border: $base-font-size * 0.05 solid Globals.$spy-light;
        background-color: #ffd3cf;
        p {
          color: Globals.$spy-light;
        }
      }
      .kick {
        background-color: Globals.$spy-light;
        p {
          color: white;
        }
      }
    }
    .table-buttons {
      button {
        background-color: Globals.$light-2;
        p {
          color: Globals.$gray-1;
        }
      }
    }
  }
  #Table {
    display: flex;
    flex-direction: column;
    .table-row {
      flex: 0 1 100%;
    }
    .table-buttons {
      display: flex;
      position: absolute;
      height: 0;
      width: 100%;
      opacity: 1;
      z-index: 5;
      button:last-of-type {
        margin-left: auto;
        order: 2;
      }
      button {
        background-color: Globals.$gray-4;
        flex: 0 0 $base-font-size * 1.5;
        transition: 0.5s;
        p {
          font-weight: 600;
          font-size: $base-font-size * 0.29;
          transition: 0.5s;
        }
      }
      button:hover,
      button:focus {
        background-color: Globals.$green-1;
        p {
          color: white;
        }
      }
    }
    .table-info {
      display: flex;
      flex: 0 0 $base-font-size;
      max-height: $base-font-size;
      margin-top: $base-font-size * 0.6;
      border-radius: $base-font-size * 0.175;
      justify-content: center;
      align-items: center;
      flex-flow: row wrap;
      z-index: 6;
      .nice-bar-above {
        width: 100%;
        position: absolute;
        display: block;
        bottom: $base-font-size * 1;
        .players {
          float: right;
          background-color: Globals.$gray-3;
          border-radius: $base-font-size * 0.4;
          display: flex;
          width: $base-font-size * 1.2;
        }
        .report-someone-with-this {
          float: right;
          width: $base-font-size * 2;
          transition: 0.5s;
          margin-right: 0.3em;
          .exclamation-mark {
            margin: auto;
            margin-bottom: 0.05em;
            margin-right: 0.2em;
            height: $base-font-size * 0.25;
          }
          &:hover {
            background-color: Globals.$spy-dark;
          }
        }
      }
      .message {
        text-align: center;
        @media screen and (min-width: Globals.$min-res) {
          min-width: 100%;
        }
        @media screen and (min-width: Globals.$small-res) {
          min-width: 0;
        }
      }
      .button-cont {
        display: flex;
        flex: 0 0 $base-font-size * 2;
        margin-left: $base-font-size * 0.15;
        button {
          height: $base-font-size * 0.5;
          margin-bottom: 0;
          p {
            font-size: $base-font-size * 0.29;
          }
        }
        .confirm {
          border: $base-font-size * 0.05 solid Globals.$green-1;
          background-color: #d0fc9a;
          p {
            color: Globals.$green-1;
          }
        }
        .neutral {
          border: $base-font-size * 0.05 solid Globals.$gold-1;
          background-color: #ffe9a6;
          p {
            color: Globals.$gold-1;
          }
        }
        .disabled {
          cursor: default;
          border: $base-font-size * 0.05 solid gray;
          background-color: Globals.$light-1;
          p {
            color: gray;
          }
        }
      }
    }
  }
  .table-display {
    margin: 0 auto;
    margin-top: $base-font-size * 0.5;
    position: relative;
    flex-direction: row;
    max-width: 100%;
    display: flex;
    justify-content: center;
    .table-column {
      flex: 1 0 calc(100% / 6);
      display: flex;
      flex-direction: column;
      .table-prow {
        position: relative;
        display: flex;
        flex-direction: row;
        flex: 0 1 100%;
        .table-seat {
          position: relative;
          overflow: visible;
          display: flex;
          flex: 0 1 100%;
        }
        .table-center {
          height: 0px;
          width: 0px;
          position: absolute;
          top: 50%;
          left: 50%;
          .mission-tracker {
            animation: wake 2s 1;
            position: absolute;
            display: flex;
            flex-direction: column;
            transform: translate(-50%, -50%);
            .mission-container,
            .rounds-container {
              display: flex;
              flex-direction: row;
              margin-top: $base-font-size * 0.05;
              .mission {
                width: $base-font-size * 0.8;
                height: $base-font-size * 0.5;
                margin: $base-font-size * 0.025;
                border-radius: $base-font-size * 0.1;
                display: flex;
                p {
                  color: white;
                  text-align: center;
                  font-weight: 600;
                  margin: auto;
                }
              }
              .round {
                height: $base-font-size * 0.3;
                width: $base-font-size * 0.3;
                opacity: 0.2;
                margin: auto;
                border-radius: $base-font-size * 10;
              }
              .round.true {
                opacity: 0.8;
              }
            }
          }
        }
      }
      .table-prow:nth-of-type(2) {
        flex: 0 0 20%;
      }
    }
    .table-column:nth-of-type(2) {
      flex: 0 1 100%;
    }
  }
}
@media screen and (min-width: Globals.$min-res) {
  @include init-table(Globals.$initial-font-size * 0.9);
}
@media screen and (min-width: Globals.$small-res) {
  @include init-table(Globals.$initial-font-size);
}
@media screen and (min-width: Globals.$large-res) {
  @include init-table(Globals.$initial-font-size * 1.2);
}
@media screen and (min-width: Globals.$max-res) {
  @include init-table(Globals.$initial-font-size * 1.4);
}
@media screen and (min-width: Globals.$insane-res) {
  @include init-table(Globals.$initial-font-size * 2.5);
}
