@use '../Globals';

@mixin init-vh($base-font-size) {
  .dark {
    #Vote-History {
      .vh-row {
        color: white;
        background: rgba(255, 255, 255, 0.05);
      }
      .vh-row.mission {
        background-color: Globals.$gold-1;
      }
      .vh-row.mission.true {
        background-color: Globals.$res-dark;
      }
      .vh-row.mission.false {
        background-color: Globals.$spy-dark;
      }
      .vh-vote.undefined {
        background-color: #847062;
      }
      .vh-vote.false {
        background-color: #7d4736;
      }
      .vh-vote.true {
        background-color: #6f774e;
      }
      .leader {
        border: 2px solid #dcc6b8;
      }
      svg {
        color: #111;
      }
    }
  }
  .light {
    #Vote-History {
      .vh-row {
        color: Globals.$gray-1;
        background: rgba(0, 0, 0, 0.08);
      }
      .vh-row.mission {
        background-color: Globals.$gold-1;
      }
      .vh-row.mission.true {
        background-color: Globals.$res-light;
      }
      .vh-row.mission.false {
        background-color: Globals.$spy-light;
      }
      .vh-vote.undefined {
        background-color: #c9bdb6;
      }
      .vh-vote.false {
        background-color: #dfc4ad;
      }
      .vh-vote.true {
        background-color: #9cae7d;
      }
      .leader {
        border: 2px solid #2a2523;
      }
      svg {
        color: #1c1717;
      }
    }
  }
  #Vote-History {
    display: flex;
    position: relative;
    flex-direction: column;
    width: 100%;
    .vh-cont {
      padding: 10px;
      animation: wake 0.25s 1;
      margin: auto;
      width: 95%;
      background-color: transparent;
      table-layout: fixed;
      th,
      td {
        font-size: $base-font-size * 0.28;
        line-height: $base-font-size * 0.4;
        position: relative;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        svg {
          position: absolute;
          $svg-size: 1em;
          height: $svg-size;
          width: $svg-size;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
        }
      }
      th {
        text-align: center !important;
        font-weight: 700;
        width: 100%;
      }
      td {
        font-weight: 500;
        padding: 0 0.5em;
        text-align: left;
      }
      .vh-row.mission {
        color: black;
        font-weight: 600;
      }
      .lotl {
        font-weight: 700;
        text-align: center;
      }
    }
  }
}
@media screen and (min-width: Globals.$min-res) {
  @include init-vh(Globals.$initial-font-size * 0.9);
}
@media screen and (min-width: Globals.$small-res) {
  @include init-vh(Globals.$initial-font-size);
}
@media screen and (min-width: Globals.$large-res) {
  @include init-vh(Globals.$initial-font-size * 1.2);
}
@media screen and (min-width: Globals.$max-res) {
  @include init-vh(Globals.$initial-font-size * 1.4);
}
@media screen and (min-width: Globals.$insane-res) {
  @include init-vh(Globals.$initial-font-size * 2.5);
}
