@use '../Globals';

@mixin init-announcements($base-font-size) {
  #Announcements {
    display: flex;
    flex: 0 1 30% !important;
    flex-direction: column;
    h3 {
      border-radius: $base-font-size * 0.125 $base-font-size * 0.125 0 0;
      align-items: center;
      background-color: Globals.$green-1;
      color: white;
      display: flex;
      flex-direction: row;
      flex: 0 0 $base-font-size * 0.6;
      justify-content: center;
      p {
        flex: 0 1 $base-font-size * 5;
        font-size: $base-font-size * 0.3;
        height: $base-font-size * 0.5;
        line-height: $base-font-size * 0.5;
        margin: 0 $base-font-size * 0.1;
        text-align: center;
        white-space: nowrap;
      }
    }
    .announcement {
      animation: wake 0.42s 1;
      display: flex;
      flex-direction: row;
      margin-top: $base-font-size * 0.2;
      padding: 0 $base-font-size * 0.25;
      padding-right: $base-font-size * 0.4;
      text-align: left;
      .date {
        flex: 0 0 $base-font-size * 1.4;
        font-size: $base-font-size * 0.25;
        margin-right: $base-font-size * 0.15;
        text-align: right;
      }
      a {
        color: Globals.$green-1;
        font-size: $base-font-size * 0.26;
        font-weight: 500;
        text-decoration: none;
      }
    }
    .announcement:last-of-type {
      margin-bottom: 8px;
    }
  }
}
@media screen and (min-width: Globals.$min-res) {
  @include init-announcements(Globals.$initial-font-size * 0.9);
}
@media screen and (min-width: Globals.$small-res) {
  @include init-announcements(Globals.$initial-font-size);
}
@media screen and (min-width: Globals.$large-res) {
  @include init-announcements(Globals.$initial-font-size * 1.2);
}
@media screen and (min-width: Globals.$max-res) {
  @include init-announcements(Globals.$initial-font-size * 1.4);
}
@media screen and (min-width: Globals.$insane-res) {
  @include init-announcements(Globals.$initial-font-size * 2.5);
}
