@use '../Globals';

@mixin colored-names ()
{
  .username1 {
    color: Globals.$username-1;
  }
  .username2 {
    color: Globals.$username-2;
  }
  .username3 {
    color: Globals.$username-3;
  }
  .username4 {
    color: Globals.$username-4;
  }
  .username5 {
    color: Globals.$username-5;
  }
  .username6 {
    color: Globals.$username-6;
  }
  .username7 {
    color: Globals.$username-7;
  }
  .username8 {
    color: Globals.$username-8;
  }
  .username9 {
    color: Globals.$username-9;
  }
  .username10 {
    color: Globals.$username-10;
  }
}

@mixin init-chat($base-font-size) {
  .dark {
    #Chat {
      .message {
        .username {
          color: white;
        }
        @include colored-names();
        &.negative {
          color: Globals.$spy-dark;
          .content {
            font-weight: 600;
          }
        }
        &.positive {
          color: Globals.$res-dark;
          .content {
            font-weight: 600;
          }
        }
      }
      .chat-input {
        background: rgba(255, 255, 255, 0.03);
      }
      input,
      button {
        color: white;
      }
    }
  }
  .light {
    #Chat {
      .message {
        .username {
          color: Globals.$gray-1;
        }
        @include colored-names();
        &.negative {
          color: Globals.$spy-light;
          .content {
            font-weight: 600;
          }
        }
        &.positive {
          color: Globals.$res-light;
          .content {
            font-weight: 600;
          }
        }
      }
      .chat-input {
        background: rgba(0, 0, 0, 0.05);
        input,
        button {
          color: Globals.$gray-1;
        }
      }
    }
  }
  #Chat {
    display: flex;
    flex-direction: column;
    .view {
      animation: wake 0.25s 1;
    }
    .message {
      flex: 0 0 100%;
      padding: 0 $base-font-size * 0.25;
      padding-right: $base-font-size * 0.4;
      display: flex;
      .hour {
        flex: 0 0 $base-font-size * 0.8;
        width: $base-font-size * 0.8;
        font-size: $base-font-size * 0.25;
        padding-top: $base-font-size * 0.1;
        margin-right: $base-font-size * 0.2;
        text-align: right;
      }
      .text {
        line-height: $base-font-size * 0.5;
        .username {
          margin-right: $base-font-size * 0.15;
          text-decoration: none;
        }
        .content {
          word-break: break-word;
        }
      }
      &.highlighted {
        color: Globals.$gold-1;
        .content {
          font-weight: 500;
        }
      }
      &.command {
        color: Globals.$green-1;
        .content {
          font-weight: 500;
        }
      }
      &.client.command, &.broadcast.command {
        font-style: oblique;
        .username {
          color: Globals.$green-1;
          font-weight: 600;
        }
      }
      &.quote {
        opacity: 0.5;
        font-style: oblique;
      }
      &.spectator {
        opacity: 0.5;
      }
      &:first-of-type {
        margin-top: $base-font-size * 0.25;
      }
      &:last-of-type {
        margin-bottom: $base-font-size * 0.25;
      }
    }
    .chat-input {
      display: flex;
      flex: 0 0 $base-font-size * 0.8;
      flex-direction: row;
      justify-content: center;
      input,
      button {
        height: $base-font-size * 0.8;
        background-color: transparent;
        border: 0;
        margin: 0;
      }
      input {
        font-size: $base-font-size * 0.3;
        flex: 1 0 50%;
        padding: 0 $base-font-size * 0.2;
      }
      button {
        flex: 0 0 $base-font-size * 0.8;
        svg {
          height: $base-font-size * 0.3;
          width: $base-font-size * 0.3;
        }
      }
    }
  }
}
@media screen and (min-width: Globals.$min-res) {
  @include init-chat(Globals.$initial-font-size * 0.9);
}
@media screen and (min-width: Globals.$small-res) {
  @include init-chat(Globals.$initial-font-size);
}
@media screen and (min-width: Globals.$large-res) {
  @include init-chat(Globals.$initial-font-size * 1.2);
}
@media screen and (min-width: Globals.$max-res) {
  @include init-chat(Globals.$initial-font-size * 1.4);
}
@media screen and (min-width: Globals.$insane-res) {
  @include init-chat(Globals.$initial-font-size * 2.5);
}
